/**
 * Alignment
 */
.alignleft {
  display: inline;
  float: left;
  margin-right: $size-7;
}
.alignright {
  display: inline;
  float: right;
  margin-left: $size-7;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/**
 * Accessibility
 */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/**
 * Captions
 */
.wp-caption {
  margin-bottom: ms(1);
  max-width: 100%;

  img[class*='wp-image-'] {
    display: block;
    margin: 0 auto;
  }
  .wp-caption-text {
    text-align: left;
    font-style: italic;
    padding: 1em 0;
  }
}